body {
    font-family: 'Lucida Console', monospace;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

}

.section-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #786c5d;
    color:#eadbd0;
    height: 450px;
}

.section-1 .top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}

.section-1 .bottom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
}

.section-1 .bottom-header-left {
    max-width: 400px;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #eadbd0;
}

img {
    height: 250px;
    width: 500px;
    border-radius: 20px;
}

button {
    background-color: #1c1b199f;
    color: #eadbd0;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 30px;
}

.section-2 {
    height: 350px;
    background-color: #eadbd0;
    color: #786c5d;
}

.section-2 h2 {
    text-align: center;
    margin-top: 40px;
}

.section-2 .container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 90px;
}

.container .container-box {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .container-box .container-box-element{
    height: 150px;
    width: 150px;
    background-color: #786c5d;
    border-radius: 10px;
}

h5 {
    text-align: center;
}