body {
    font-family: 'Lucida Console', monospace;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

}

.section-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #786c5d;
    color:#eadbd0;
    height: 450px;
}

.section-1 .top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}

.section-1 .bottom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
}

.section-1 .bottom-header-left {
    max-width: 400px;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #eadbd0;
}

img {
    height: 270px;
    width: 530px;
    border-radius: 20px;
}

button {
    background-color: #1c1b199f;
    color: #eadbd0;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 30px;
}

.section-2 {
    height: 350px;
    background-color: #eadbd0;
    color: #786c5d;
}

.section-2 h2 {
    text-align: center;
    margin-top: 40px;
}

.section-2 .container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 90px;
}

.section-2 .container .container-box {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2 .container .container-box .container-box-element{
    height: 150px;
    width: 150px;
    background-color: #786c5d;
    border-radius: 10px;
}

h5 {
    text-align: center;
}

.section-3 {
    height: 250px;
    background-color: rgb(234, 231, 231);
    padding: 40px 300px;
}

blockquote {
    font-size: 30px;
}

blockquote span {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #1c1b199f;
    font-weight: bolder;
}

.section-4 {
    height: 250px;
    background-color: #eadbd0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-4 .container {
    height: 150px;
    width: 700px;
    background-color: #1c1b199f;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section-4 .container .container-left{
    max-width: 400px;
}

.container-right button {
    background-color: transparent;
    color: white;
    font-family: 'Lucida Console', monospace;
    font-weight: bold;
    border: 2px solid white;
}